<div class="row main d-flex justify-content-evenly">
    {{#each cards as |card|}}
    <div class="col-12 col-sm-12 col-lg-12 col-xxl-5 cardBreak">
        <div class="card" data-id="1">
            <div class="cardInfo">
                <div class="cTitle bg-dark">
                    <h5>{{card.title}}</h5>
                    <h6>{{card.createdAt}}</h6>
                </div>
                <p class="cDescription">{{card.description}}</p>
                <a href="#" class="btn btn-primary btn-outline-success cardBtn bg-dark d-flex justify-content-center"  data-id="{{card.id}}">Read More</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
