    <div class="row justify-content-center">
    <div class="col-12 col-sm-6 mb-5">
      <h2 class="pb-3 border-bottom border-secondary">Post a blog</h2>
      <form>
        <div class="mb-3">
          <label for="blogTitle" class="form-label">Blog Title</label>
          <input type="text" class="form-control" id="blogTitle">
        </div>
        <div class="mb-3">
          <label for="blogContent" class="form-label">Blog Content</label>
          <textarea type="text" class="form-control" id="blogContent"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-outline-success bg-dark d-flex justify-content-center" id="postSubmit" data-userid="{{userId}}">Submit</button>
      </form>
    </div>
  </div>

  <script src="/scripts/post.js"></script>